# Start of script
# .gitattributes
# This file defines what languages can show up in the GitHub linguist menu (the menu that tells you what percentage each language is using up on this project.
# Some non-programming languages must be included manually with this file. Want to create your own? Do something similar to what is done here, and name the file
# .gitattributes
# and nothing else, no characters before, no characters after
# Start of linguist script
# HTML (HyperText Markup Language) document
*.htm linguist-detectable=true
*.htm linguist-documentation=false
*.html linguist-detectable=true
*.html linguist-documentation=false
*.mhtm linguist-detectable=true
*.mhtm linguist-documentation=false
*.mhtml linguist-detectable=true
*.mhtml linguist-documentation=false
*.xhtm linguist-detectable=true
*.xhtm linguist-documentation=false
*.xhtml linguist-detectable=true
*.xhtml linguist-documentation=false
# HTA (HTML Application) file
*.hta linguist-detectable=true
*.hta linguist-documentation=false
# YAML (YAML Ain't Markup Language) document
*.yml linguist-detectable=false
*.yml linguist-documentation=false
*.yaml linguist-detectable=false
*.yaml linguist-documentation=false
# C source file
*.c linguist-detectable=true
*.c linguist-documentation=false
# C++ source file
*.C linguist-detectable=true
*.C linguist-documentation=false
*.cc linguist-detectable=true
*.cc linguist-documentation=false
*.cpp linguist-detectable=true
*.cpp linguist-documentation=false
*.cxx linguist-detectable=true
*.cxx linguist-documentation=false
# Swift source file
*.swift linguist-detectable=true
*.swift linguist-documentation=false
# Python source file
*.py linguist-detectable=true
*.py linguist-documentation=false
# Java source file
*.java linguist-detectable=true
*.java linguist-documentation=false
# Objective-C source file
*.m linguist-detectable=true
*.m linguist-documentation=false
*.mm linguist-detectable=true
*.mm linguist-documentation=false
# AppleScript source file
*.applescript linguist-detectable=true
*.applescript linguist-documentation=false
# C# source file
*.cs linguist-detectable=true
*.cs linguist-documentation=false
*.csx linguist-detectable=true
*.csx linguist-documentation=false
# F# source file
*.fs linguist-detectable=true
*.fs linguist-documentation=false
# PHP (PHP HyperText Preprocessor) source file
*.php linguist-detectable=true
*.php linguist-documentation=false
# Markdown
*.md linguist-detectable=false
*.md linguist-documentation=false
*.mkd linguist-detectable=false
*.mkd linguist-documentation=false
*.mdown linguist-detectable=false
*.mdown linguist-documentation=false
*.markdown linguist-detectable=false
*.markdown linguist-documentation=false
# Makefile (GNU Make)
*.mk linguist-detectable=false
*.mk linguist-documentation=false
*.mak linguist-detectable=false
*.mak linguist-documentation=false
*.make linguist-detectable=false
*.make linguist-documentation=false
# End of linguist script
# File info
# File type: gitattributes file (*.gitattributes)
# File version: 1 (2021, Thursday, December 16th at 5:36 pm)
# Line count (including blank lines and compiler line): 91
# End of script
